@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #0b176d;
  --color-2: #646fd4;
  --color-3: #9ba3eb;
  --color-4: #dbdffd;
  --color-5: #f8f8ff;
  --color-6: #fff;
  --color-title: #2c3263;
  --color-paragraph: #333864;
  --color-paragraph-2: #858585;

  /* Transitions */
  --transition-1: all 0.3s ease;
}

button,
input {
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-2);
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-1);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333864;
  background-color: var(--color-5);
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-primary {
  padding: 0.65rem 1.2rem;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-2);
  color: var(--color-6);
  transition: var(--transition-1);
}
.btn-primary:hover {
  background-color: var(--color-1);
  color: var(--color-6);
}

.d-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
