table.coin-list {
  width: 100%;
  margin-bottom: 2rem;
}
table.coin-list thead {
  display: flex;
  padding: 1rem;
}
table.coin-list thead > tr {
  display: flex;
  justify-content: space-between;

  width: 100%;
}
table.coin-list thead > tr > th {
  width: 25%;
  text-align: right;
}
table.coin-list thead > tr > th:first-child {
  text-align: left;
}
table.coin-list > tbody > tr {
  padding: 0.8rem;
  display: flex;
  align-items: center;
}
table.coin-list > tbody > tr:nth-child(2n + 1) {
  background-color: var(--color-6);
}
table.coin-list > tbody > tr > td {
  width: 25%;
  text-align: right;
}
th.coin-photo {
  display: flex;
  align-items: flex-start;
  width: 25%;
}
th.coin-photo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 1rem;
  background-color: var(--color-4);
  border-radius: 50%;
}
.coin-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.coin-name .symbol {
  font-size: 1rem;
  text-transform: uppercase;
}
.coin-name .name {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--color-paragraph-2);
}
